@import '~bootstrap/scss/bootstrap';

@import './partials/header';
@import './partials/footer';
@import './partials/welcome';
@import './partials/movies';


a {
    text-decoration: none;

    &:hover {
        color: lightcoral;
    }

}

h1 {
    font-size: 4rem;
}